<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
 </div>
 
 <p>
    Splurty was built by <"Demond Mcelrath" href="http://github.com/deemacc43">dee</a> & <a target="_blank" href="http://github.com/</a>. One web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality. 
    </p>
    <br />
    <p>
      learning how to code has always been a passion for me to learn and to master.
    </p>
    <p>
      If you want to learn to code it takes studying and work to be good.
    </p>

  </div class="row>
  <div class="col-12 col-sm-4">
    <%= image_tag 'dee.jpg' , class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Demond Mcelrath</h2>
    <br />
    <p>
      Demond Mcelrath is a soon to be web developer with some expeirence in object oriented programming.
    </p>
  </div>


  <br class="clear" />
  <br />
  <br />
  <br />
  <br />